.book-card-cover {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.book-card-cover .cover-wrapper img {
    max-width: 150px;
    /* 调整图书封面图片的最大宽度 */
    max-height: 150px;
    /* 调整图书封面图片的最大高度 */
}

.post-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.post-info {
    display: inline-block;
    overflow: hidden;
    width: 80%;
    padding-right: 10px;
    margin-right: 10px;
}

.comment-text {
    font-size: 16px;
    /* 调整字体大小 */
    color: #333;
    font-style: italic;
}

