.book-card-cover {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.book-card-cover .cover-wrapper img {
    max-width: 150px;
    /* 调整图书封面图片的最大宽度 */
    max-height: 150px;
    /* 调整图书封面图片的最大高度 */
}

.post-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.post-info {
    display: inline-block;
    overflow: hidden;
    width: 80%;
    padding-right: 10px;
    margin-right: 10px;
}

.comment-text {
    font-size: 16px;
    /* 调整字体大小 */
    color: #333;
    font-style: italic;
}

h2 {
    font-size: 24px;
    /* 调整标题字体大小 */
    color: #333;
    /* 调整标题文本颜色 */
    margin-top: 16px;
    /* 调整上边距 */
}

a {
    color: #0077cc;
    /* 调整链接文本颜色 */
    text-decoration: none;
    /* 移除链接下划线 */
}

a:hover {
    text-decoration: underline;
    /* 鼠标悬停时显示下划线 */
}
