<!doctype html>
<html lang="zh-CN" data-theme="light">
<head>{{ partial "head.html" . }}{{ block "head" . }}{{ end }}</head>
<body id="top" data-search-index="{{ "index.json" | relURL }}" class="{{ if .IsHome }}is-home{{ else if eq .Section "posts" }}is-writing{{ else }}is-page{{ end }}">
<a class="skip-link" href="#main">跳到正文</a>
{{ partial "header.html" . }}
<main id="main">{{ block "main" . }}{{ end }}</main>
{{ partial "footer.html" . }}
{{ partial "v3/search-dialog.html" . }}
{{ $js := resources.Get "js/v3.js" | minify | fingerprint }}
<script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ block "body_end" . }}{{ end }}
</body></html>
